<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> AWESOME RAILWAY </h1>
    <%= yield %>

    <p>(с) 2018 Malikov Maxim. As Thinknetica</p>
  </body>
</html>
